/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body,
wrapper {
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

.flex-fill {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

footer {
    background: rgba(0, 0, 0, 85%);
}

#heard {
    color: red;
}

.textarea-new {
    resize: none;
}

/*  Text truncate */
.card-text-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* to specify the number of lines you want the text to run through... */
    -webkit-line-clamp: 15;
    /* hide the overflowing text, i.e, texts that did not fit in to the box */
    overflow: hidden;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

input[type="text"] {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 85%);
}

input[type="text"],
textarea {
    border: 0;
    outline: 0;
}
textarea {
    resize: none;
    overflow-x: hidden;
}